.pikachu {
    width: 270px;
    height: auto;
    padding-top: 42%;
    position: absolute;
    right: -40px;
}

.treeko {
    width: 275px;
    height: auto;
    padding-bottom: 12%;
    position: absolute;
    right: 60px;
}

.pokemon {
    width: 450px;
    height: auto;
    padding-top: 95px;
    padding-bottom: 75px;
}

.pokeBorder {
    border-width: 5px;
    border-style: groove;
}

.gary {
    position: absolute;
    top: -100px;
    left: 90px;
}

.cynthia {
    position: absolute;
    top: -45px;
    right: 115px;
}

.butterfree {
    width: 165px;
    position: absolute;
    top: -50px;
    right: -120px;
}