.pikachu {
    width: 270px;
    height: auto;
    padding-top: 42%
}

.treeko {
    width: 275px;
    height: auto;
    padding-bottom: 12%;
}

.pokemon {
    width: 360px;
    height: auto;
    padding-top: 85px;
}

.pokeBorder {
    border-width: 5px;
    border-style: groove;
}

.gary {
    position: absolute;
    right: 100px;
    top: 16px;
}

.cynthia {
    position: absolute;
    top: 78px;
}