.alert-appear {
  opacity: 0;
}

.alert-appear-active {
  opacity: 1;
  transition: opacity 500ms;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.alert-exit-done {
    opacity: 1;
}

* {
  color: white;
}

.page {
  padding: 1.5em;
  position: relative;
  height: 100vh;
  background-image: url(./utils/plane.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navBar {
  position: absolute;
  right: 0;
  z-index: 5;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list > * {
  font-size: 1.2em;
  padding: .5em 1em;
  margin: .5em;
}


.list > *:hover {
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .header > h1 {
      font-size: 2.5rem;
  }
  .skills > h3 {
      font-size: 1.2em;
      margin-left: -100%
  }
} 

@media screen and (min-width: 850px) {
  .header > h1 {
      font-size: 3rem;
  }
  .skills > h3 {
      font-size: 1.2em;
      margin-left: -80%
  }
} 

@media screen and (min-width: 1020px) {
  .header > h1 {
      font-size: 4rem;
  }
  .skills > h3 {
      font-size: 1.2em;
      margin-left: -60%
  }
} 

@media screen and (min-width: 1115px) {
  .header > h1 {
      font-size: 4.5rem;
  }
  .skills > h3 {
      font-size: 1.2em;
      margin-left: -60%
  }
} 

@media screen and (min-width: 1200px) {
  .header > h1 {
      font-size: 5rem;
  }
  .skills > h3 {
      font-size: 2em;
  }
} 

@media screen and (min-width: 1500px) {
  .header > h1 {
      font-size: 6rem;
  }
  .skills > h3 {
      font-size: 3em;
  }
} 

@media screen and (min-width: 1750px) {
  .header > h1 {
      font-size: 8.5rem;
  }
} 
  

.title {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-left: 70%;
}

.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
